In [1]:
import pandas as pd 
import numpy as np

In [24]:
df = pd.read_csv("goodreads_data.csv")

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   10000 non-null  int64
 1   Book         10000 non-null  object
 2   Author       10000 non-null  object
 3   Description  9923 non-null   object
 4   Genres       10000 non-null  object
 5   Avg_Rating   10000 non-null  float64
 6   Num_Ratings  10000 non-null  object
 7   URL          10000 non-null  object
dtypes: float64(1), int64(1), object(6)
memory usage: 625.1+ KB

In [26]:
df.drop_duplicates(inplace=True).info()

AttributeError: 'NoneType' object has no attribute 'info'

In [27]:
df= df.dropna()

In [22]:
df=df.drop_duplicates(inplace=True)

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9923 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   9923 non-null   int64
 1   Book         9923 non-null   object
 2   Author       9923 non-null   object
 3   Description  9923 non-null   object
 4   Genres       9923 non-null   object
 5   Avg_Rating   9923 non-null   float64
 6   Num_Ratings  9923 non-null   object
 7   URL          9923 non-null   object
dtypes: float64(1), int64(1), object(6)
memory usage: 697.7+ KB

In [34]:
df.head()

,Unnamed: 0,Book,Author,Description,Genres,Avg_Rating,Num_Ratings,URL
0,0,To Kill a Mockingbird,Harper Lee,The unforgettable novel of a childhood in a sl...,"['Classics', 'Fiction', 'Historical Fiction', ...",4.27,"5,691,311",https://www.goodreads.com/book/show/2657.To_Ki...
1,1,Harry Potter and the Philosopher’s Stone (Harr...,J.K. Rowling,Harry Potter thinks he is an ordinary boy - un...,"['Fantasy', 'Fiction', 'Young Adult', 'Magic',...",4.47,"9,278,135",https://www.goodreads.com/book/show/72193.Harr...
2,2,Pride and Prejudice,Jane Austen,"Since its immediate success in 1813, Pride and...","['Classics', 'Fiction', 'Romance', 'Historical...",4.28,"3,944,155",https://www.goodreads.com/book/show/1885.Pride...
3,3,The Diary of a Young Girl,Anne Frank,Discovered in the attic in which she spent the...,"['Classics', 'Nonfiction', 'History', 'Biograp...",4.18,"3,488,438",https://www.goodreads.com/book/show/48855.The_...
4,4,Animal Farm,George Orwell,Librarian's note: There is an Alternate Cover ...,"['Classics', 'Fiction', 'Dystopia', 'Fantasy',...",3.98,"3,575,172",https://www.goodreads.com/book/show/170448.Ani...

In [33]:
df.drop_duplicates( subset=['Book'] ,inplace=True).info()
df.info()

AttributeError: 'NoneType' object has no attribute 'info'

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9795 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   9795 non-null   int64
 1   Book         9795 non-null   object
 2   Author       9795 non-null   object
 3   Description  9795 non-null   object
 4   Genres       9795 non-null   object
 5   Avg_Rating   9795 non-null   float64
 6   Num_Ratings  9795 non-null   object
 7   URL          9795 non-null   object
dtypes: float64(1), int64(1), object(6)
memory usage: 688.7+ KB

In [38]:
df.to_csv('cleaned_dataa.csv')